nav {
  display: flex;
  gap: 1rem;
}

.flash {
  width: 400px;
  height: 20px;
  background-color: grey;
  border-radius: 15px;
  animation: blink 2s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}

.loading {
  width: 400px;
  height: 20px;
  border-radius: 15px;
  background-color: grey;
  opacity: 0.2;
}
.loadingBar {
  width: 0px;
  height: 20px;
  border-radius: 15px;
  background-color: green;
  animation: load 5s infinite linear;
  opacity: 1;
  z-index: 100;
}
@keyframes load {
  0% {
    width: 0px;
  }
  50% {
    width: 200px;
  }
  100% {
    width: 400px;
  }
}
